<h1><%= @user.full_name %></h1>
<h2><%= "#{@user.age} years old, #{@user.gender}, #{@user.alive ? "living" :"dead"} " %></h2>
<h3><%= link_to 'Back to users', users_path %></h3>
  <%= link_to 'Delete user',@user, method: :delete %>

    